<div class="kujata-menu"> <!--style="background-color:#f0f0f0; padding:16px; display:flex; flex-flow:row wrap; align-items:flex-start; align-content:flex-start; font-size:10pt;">-->
    <div class="kujata-menu-item">
      <a class="kujata-menu-item-text" routerLink="/field-scenes" routerLinkActive="active">Fields</a>
    </div>
    <div class="kujata-menu-item">
      <a class="kujata-menu-item-text" routerLink="/field-op-codes" routerLinkActive="active">Field Op Codes</a>
    </div>
    <!--
    <div class="kujata-menu-item">
      <a class="kujata-menu-item-text" routerLink="/model-viewer" routerLinkActive="active">Model Viewer</a>
    </div>
    -->
    <div class="kujata-menu-item">
      <a class="kujata-menu-item-text" routerLink="/field-models" routerLinkActive="active">Field Models</a>
    </div>
    <div class="kujata-menu-item">
      <a class="kujata-menu-item-text" routerLink="/sounds" routerLinkActive="active">Sounds</a>
    </div>
</div>

<!--
<a routerLink="/home" routerLinkActive="active">Home</a> |
<a routerLink="/field-scenes" routerLinkActive="active">Fields (Maps/Scenes)</a> |
<a routerLink="/field-op-codes" routerLinkActive="active">Field Op Codes</a> |
<a routerLink="/model-viewer" routerLinkActive="active">Model Viewer</a> |
<a routerLink="/stage-viewer" routerLinkActive="active">Stage Viewer</a>
-->

<router-outlet></router-outlet>
