.kujata-menu {
  background-color:#c0c0c0;
  margin-bottom:16px;
  padding:16px;
  display:flex;
  flex-flow:row wrap;
  align-items:flex-start;
  align-content:flex-start;
  font-size:10pt;
}

.kujata-menu-item {
  background-color:#e0e0e0;
  margin-right:16px;
  padding:16px;
}

.kujata-menu-item-text {
  color:#404040;
  font-weight:bold;
}
