<div style="background-color:#c0c0c0">

    <div style="padding:4px">
        <div style="background-color:white; padding:4px; width:308px; font-size:10pt;">
            {{status}}
        </div>
    </div>

    <div style="height:1em;"></div>

    <div style="display:flex; flex-wrap: wrap;">
        <a *ngFor="let display of displays" class="display-box" [routerLink]="'/battle-model-details/' + display.skeleton.id">
            <div *ngIf="!display.screenshotDataUrl" class="scene-container" [id]="display.containerId"></div>
            <div *ngIf="display.screenshotDataUrl" class="scene-container">
                <img [src]="display.screenshotDataUrl" />
            </div>
            <div style="height:25px">
                <div style="text-align:center"><b>{{display.skeleton.name}}</b></div>
                <!--<div style="text-align:center"><b>{{display.skeleton.friendlyName2}}</b></div>-->
                <div style="text-align:center">{{display.skeleton.id}}</div>
                <!--
        <div style="text-align:center; font-size:8pt">{{display.skeleton.ifalna?.Names.join(' &middot; ')}}</div>
        -->
            </div>
        </a>
    </div>
</div>

<!--
<div id="ff7_scene_container0" style="width:240px; height:240px;">
</div>

<div id="ff7_scene_container1" style="width:240px; height:240px;">
</div>

<div id="ff7_scene_container2" style="width:240px; height:240px;">
</div>
-->

<ng-container *ngIf="false">

    <div *ngIf="database" style="background-color:#e0e0e0">

        <div style="height:1em;"></div>

        <div *ngFor="let i of uniqueBoneCounts" style="background-color:white; margin:8px; padding:8px; border-radius:8px;">
            <h2 style="margin:auto">Models with {{i}} bones</h2>
            <div style="display:grid; grid-template-columns: 50% 50%; grid-template-rows: auto auto;">
                <div style="grid-row:1; grid-column:1/2;">
                    <h3>Battle Models</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let skeleton of database.skeletons">
                                <tr *ngIf="skeleton.numBones == i">
                                    <td>{{skeleton.id}}</td>
                                    <td>{{skeleton.name}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div><!-- end grid cell for models table -->
                <div style="grid-row:1; grid-column:2/3;">
                    <h3>Battle Animations</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>numFrames</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let animation of database.animations">
                                <tr *ngIf="animation.numBones == i">
                                    <td>{{animation.id}}</td>
                                    <td>{{animation.numFrames}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div><!-- end grid cell for animations table -->
            </div><!-- end grid container -->

            <div style="height:1em;"></div>

        </div><!-- end looping over bone counts -->

        <!--
  <h1>Battle Animations</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>numBones</th>
        <th>numFrames</th>
        <th>rotationOrder</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animation of database.animations">
        <td>{{animation.id}}</td>
        <td>{{animation.numBones}}</td>
        <td>{{animation.numFrames}}</td>
        <td>{{animation.rotationOrder}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  -->

    </div>

</ng-container>
