<div style="background-color:#c0c0c0; padding:16px;">

  <ng-container *ngIf="chapters">
    <div *ngFor="let chapter of chapters" class="chapter-container">
      <div class="chapter-name">{{chapter.name}}</div>
      <div class="field-cards-container">
        <!--<div *ngFor="let fieldName of chapter.fieldNames" class="field-card">-->
        <a *ngFor="let fieldName of chapter.fieldNames" class="field-card" [routerLink]="'/scene-details/' + fieldName">
          <!--<a [routerLink]="'/scene-details/' + fieldName">-->
          <div class="field-name">{{fieldName}}</div>
          <div class="field-menu-name">{{getMenuName(fieldName)}}</div>
          <!-- TODO: menu names -->
          <img class="field-image" [src]="environment.KUJATA_DATA_BASE_URL + '/metadata/makou-reactor/backgrounds/' + fieldName + '.png'" />
          <!--</a>-->
        </a>
      </div>
    </div>
  </ng-container>

</div>
