.chapter-container {
  background-color:#e0e0e0;
  margin-bottom:4px;
  padding:4px;
}

.chapter-name {
  /*font-weight:bold;*/
}

.field-cards-container {
  display:flex;
  flex-flow:row wrap;
  align-items:flex-start;
  align-content:flex-start;
  font-size:10pt;
}

.field-card {
  width:150px;
  height:180px;
  background-color:#f0f0f0;
  margin:4px 4px 0px 0px;
  text-align:center;
}

.field-card:hover {
  background-color:white;
  text-decoration:none;
}

.field-name {
  color:#404040;
  font-weight:bold;
}

.field-menu-name {
  color:#808080;
  font-weight:bold;
}

.field-image {
  max-width:120px;
  max-height:120px;
  width:auto;
  height:auto;
}
