<div style="background-color:white; padding:16px; margin-bottom:16px;">

  <div style="font-size:20pt; color:#404040;">Field Op Codes</div>
  <div style="height:16px;"></div>

  <div *ngIf="opMetadata" style="font-size:12pt;">

    <div class="op-cards-container">
      <a *ngFor="let hex of opCodes" class="op-card" [routerLink]="'/field-op-code-details/' + hex">
        <div style="height:4em">
          <div class="op-code">0x<b>{{hex}}</b></div>
          &middot;
          <div class="op-short-name">{{opMetadata[hex].shortName}}</div>
        </div>
        <div style="height:4em">
          <div class="op-description">op-code description coming soon for {{hex}}</div>
        </div>
      </a>
    </div>

  </div>

</div>
